spring:
  datasource:
    url: jdbc:mysql://localhost:3306/food_system?createDatabaseIfNotExist=true
    username: root
    password: isura1234
    initialization-mode: always

  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    show-sql: true
